<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <!--<add name="PGYConstring" connectionString="User ID=PGY;Password=1;Data Source=192.168.0.13/orclbdc;Pooling=true;Min Pool Size=0;Max Pool Size=10000;Connection Lifetime=15;"  providerName="System.Data.OracleClient" />-->
    <add name="Oracle" connectionString="User ID=YLSJZH;Password=1;Data Source=192.168.0.104/orcl;Pooling=true;Min Pool Size=0;Max Pool Size=10000;Connection Lifetime=15;"  providerName="System.Data.OracleClient" />
    <add name="SqlServer" connectionString="User ID=YLSJZH;Password=1;Data Source=192.168.0.104/orcl;Pooling=true;Min Pool Size=0;Max Pool Size=10000;Connection Lifetime=15;"  providerName="System.Data.OracleClient" />
    <add name="Access" connectionString="User ID=YLSJZH;Password=1;Data Source=192.168.0.104/orcl;Pooling=true;Min Pool Size=0;Max Pool Size=10000;Connection Lifetime=15;"  providerName="System.Data.OracleClient" />
    <add name="Sqlite" connectionString="Data Source=|DataDirectory|PGY.db;Pooling=True;Max Pool Size=100;BinaryGUID=False;FailIfMissing=False;Initial Catalog=sqlite;Integrated Security=True;Journal Mode=Off;" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <!--相对站点根目录-->
    <add key="LogPath" value="Log" />
    <!--密钥-->
    <add key="Key" value="PGY"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteProviderFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>